.container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.grid {
  display: grid;
  align-items: center;
}

.gridMany {
  grid-template-columns: repeat(3, 1fr);
}

.gridOne {
  grid-template-columns: 1fr;
}

@media only screen and (max-width: 600px) {
  .gridMany {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 16px;
  }
}
