@import url("https://fonts.googleapis.com/css?family=Open+Sans");

:root {
  --width-max-content: 800px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  line-height: 1.4;
}
